.brand {
  text-decoration: none;
  color: #000;
  transition: 0.25s ease-in-out;
}

.brand:hover {
  font-weight: 600;
}

.brand.active {
  font-weight: 600;
}

.logo {
  width: 80px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
