.cart {
  position: relative;
}

.cartCounter {
  position: absolute;
  height: 18px;
  width: 18px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: small;
  bottom: 13px;
  left: 40px;
  border-radius: 100%;
  color: #fff;
  font-weight: 400;
}
