nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 1rem 2rem;
}

.brands {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

a {
  text-decoration: none;
  color: #000;
  transition: 0.25s ease-in-out;
}

a:hover {
  font-weight: 600;
}

.logo {
  width: 100px;
}
