.card {
  border: 1px solid black;
  width: 16rem;
  height: auto;
}

.productInfo {
  border-top: 1px solid black;
  width: 100%;
}

.card:hover img {
  opacity: 0.7;
  transition: 0.15s ease-in-out;
}
