.card {
  border: 1px solid black;
  width: 16rem;
  height: 24rem;
}

.productInfo {
  border-top: 1px solid black;
  padding: 15px 10px;
  width: 100%;
}

.card:hover img {
  opacity: 0.7;
  transition: 0.15s ease-in-out;
}
